
.category-list li:not(.active) a:hover{
    display: block;
    text-decoration: none;
    /* border-bottom: 1px solid #ccc; */
    background: #aaa !important;
    /* color:#333 !important; */
}
.category-list li.active a{
    background: #e91e63 !important;
}
/*td.ellipsis{*/
/*overflow:hidden;*/
/*white-space: nowrap;*/
/*text-overflow: ellipsis;*/
/*}*/

