.category-list li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ccc;
}
.category-list li.active a, .category-list li.active a:hover{
    background: #e91e63;
    color:#fff;
}
.category-list li a:hover{
    background: #eee;
}